<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cfail</title>
</head>
<body>
<h1>Notification from cfail</h1>

<p><%= format('Exceptions captured on %s', 'cfail')%></p>
<p><a href="<%= format('%s/app/%s/filter-failures', baseUrl, appId)%>">Click here to view</a></p>
<p>
    Thank you<br>
    Cfail
</p>
</body>
