<form action="" method="post" ng-submit="submit($event)">
  <fieldset>
    <div ng-show="error_message" class="phui-error" ng-bind="error_message"></div>
    <div class="form-group">
      <input type="password" placeholder="当前密码" class="form-control" ng-model="password" required/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="新密码" class="form-control" ng-model="newPassword" required/>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary"/>
    </div>
  </fieldset>
</form>