<div>
  <h2>协作者</h2>
  <ul class="ap-collaborator-list-view">
    <li ng-repeat="collaborator in collaborators" class="ap-collaborator-list-item">
      <span class="">{{collaborator.userName}}</span>
      <button type="button" class="btn btn-default btn-sm remove-btn" ng-click="removeCollaborator(collaborator.id)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </li>
  </ul>

  <form class="form-inline" method="post" ng-submit="submit($event)" name="collaborator-form">
    <div class="form-group">
      <label for="" class="sr-only"></label>
      <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email" required>
    </div>
    <input type="submit" class="btn btn-default btn-primary">
  </form>
</div>